[alias]
    	# Switch to a branch, creating it if necessary
    	go = checkout -B
    	# Show verbose output about tags, branches or remotes
    	tags = tag -l
    	branches = branch -a
    	remotes = remote -v
    	# Various Shorthands
    	st = status
    	ci = commit
    	br = branch
    	co = checkout
    	mr = merge
    	df = diff
    	dc = diff --cached
    	last = log -1 HEAD
    	unstage = reset HEAD --

[core]
    	# Use custom `.gitignore` and `.gitattributes`
    	excludesfile = ~/.gitignore
    	attributesfile = ~/.gitattributes
    	pager = less

[color]
        # Use colors in Git commands that are capable of colored output when
        # outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
        ui = auto
[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green
[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold
        whitespace = white reverse
[color "status"]
        added = yellow
        changed = green
        untracked = cyan
        branch = magenta

[merge]
        # Include summaries of merged commits in newly created merge commit messages
        log = true